<form class="validacion" id="form" action="/links/add" method="POST" onsubmit="return comprobar()">
    <H2>registrate</H2>
    <input class="nombre" type="text" id="nombre" name="nombre" onkeypress="return soloLetras(event) "
        onpaste="return false" placeholder="Nombre completo">

    <input class="correo" type="text" id="correo" name="correo" placeholder="Correo electronico">
    <input class="contraseña" type="password" id="contraseña" name="contraseña" placeholder="Contraseña">
    <input class="confirmacion" type="password" id="confirmacion" name="confirmacion"
        placeholder="Confirmar contraseña">

    <input class="celular" type="text" id="numero" name="telefono" onkeypress=" return soloNumeros(event)"
        placeholder="Numero de celular">


    <div class="botone" id="opcion">
        <h4>me gustaria:</h4>
        <div class="botones">
            <input type="radio" class="" name="opcion" value="comprar" id="opcion2">
            <label for="opcion2"> Comprar </label>
            <input type="radio" class="" name="opcion" value=" vender" id="opcion1">
            <label for="opcion1"> Vender </label>




        </div>

    </div>

    <div class="perfil">
        <button type="submit">Crear perfil</button>
        <a href="../formulario">Ya tengo cuenta</a>
    </div>


</form>